### Load Business AR Data - Cohort 7

This will gather data, create the nanoid and load data into the Business AR database

## Setup

In [1]:
%load_ext sql
%load_ext dotenv
%config SqlMagic.named_parameters="enabled"

There's a new jupysql version available (0.10.13), you're running 0.10.12. To upgrade: pip install jupysql --upgrade
Deploy Streamlit apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [2]:
import pandas as pd
import numpy as np
from dotenv import find_dotenv
from dotenv import load_dotenv
from nanoid import generate
load_dotenv(find_dotenv())

True

In [3]:
import string
nanoid_charset = string.ascii_letters + string.digits

In [4]:
import google.auth
credentials, project_id = google.auth.default()

In [5]:
import os
from google.cloud.sql.connector import Connector
import sqlalchemy

# initialize Connector object
connector = Connector()

# function to return the database connection object
def get_conn():
    conn = connector.connect(
        INSTANCE_CONNECTION_NAME,
        "pg8000",
        user=DB_USER,
        password=DB_PASSWORD,
        db=DB_NAME
    )
    return conn

def get_pool():
    # create connection pool with 'creator' argument to our connection object function
    pool = sqlalchemy.create_engine(
        "postgresql+pg8000://",
        creator=get_conn,
    )
    
    return pool

## Reset Environment Variables

In [6]:
%dotenv -o

## Create Business Connection

In [7]:
DB_USER = os.getenv("BUSINESS_USERNAME", "")
DB_PASSWORD = os.getenv("BUSINESS_PASSWORD", "")
DB_NAME = os.getenv("BUSINESS_NAME", "")
INSTANCE_CONNECTION_NAME = os.getenv("BUSINESS_CONNECTION", "")

business_pool = get_pool()
%sql business_pool --alias business
%sql business

In [8]:
%%sql
SELECT current_database(), :INSTANCE_CONNECTION_NAME as Connection, now();

Running query in 'business'

1 rows affected.

+------------------+------------------------------------------------------+----------------------------------+
| current_database |                      connection                      |               now                |
+------------------+------------------------------------------------------+----------------------------------+
|   business-ar    | a083gt-dev:northamerica-northeast1:businesses-db-dev | 2024-09-16 22:23:36.841589+00:00 |
+------------------+------------------------------------------------------+----------------------------------+

## List Database Connections

In [9]:
%sql --connections

Active connections:
+---------+----------------------+----------+
| current |         url          |  alias   |
+---------+----------------------+----------+
|    *    | postgresql+pg8000:// | business |
+---------+----------------------+----------+

## Query Business Database

In [ ]:
%sql business

In [ ]:
%%sql business_data <<
select * from business where id >= 104

In [ ]:
business_data

## Create Warehouse Connection

In [16]:
DB_USER = os.getenv("WAREHOUSE_USERNAME", "")
DB_PASSWORD = os.getenv("WAREHOUSE_PASSWORD", "")
DB_NAME = os.getenv("WAREHOUSE_NAME", "")
INSTANCE_CONNECTION_NAME = os.getenv("WAREHOUSE_CONNECTION", "")

warehouse_pool = get_pool()
%sql warehouse_pool --alias warehouse
%sql warehouse

In [17]:
%%sql
SELECT current_database(), :INSTANCE_CONNECTION_NAME as Connection, now();

Running query in 'warehouse'

1 rows affected.

+------------------+--------------------------------------------------------+----------------------------------+
| current_database |                       connection                       |               now                |
+------------------+--------------------------------------------------------+----------------------------------+
|  fin_warehouse   | mvnjri-prod:northamerica-northeast1:fin-warehouse-prod | 2024-09-18 21:27:09.068706+00:00 |
+------------------+--------------------------------------------------------+----------------------------------+

## Query Warehouse Database

In [18]:
%sql warehouse

In [20]:
%%sql colin_data <<
SELECT co.corp_num
     , co.recognition_dts
     , EXTRACT(YEAR FROM co.last_ar_filed_dt) AS last_ar_filed_year
     , co.admin_email
     , cn.CORP_NME
     , ct.corp_class
FROM "colin"."corporation"   co
   , "colin".corp_type       ct
   , "colin".corp_state      cs
   , "colin".corp_name       cn
WHERE co.corp_typ_cd    = ct.corp_typ_cd
  AND co.corp_num       = cs.corp_num
  AND co.corp_num       = cn.corp_num
  AND cs.end_event_id   IS NULL
  AND cs.state_typ_cd   = 'ACT'                                                                                -- active
  AND ct.corp_class     = 'BC'                                                                                 -- BC Corporations
  AND co.corp_typ_cd   <> 'BEN'                                                                                -- no Benefit Companies
  AND co.admin_email IS NOT NULL                                                                               -- they have an email
  AND co.send_ar_ind = 'Y'                                                                                     -- AR reminder indicator is "Y"
  AND NOT EXISTS (SELECT 'x'
                  FROM "colin".filing f, "colin".event e, "colin".filing_user u
                  WHERE f.event_id = e.event_id
                    AND f.event_id = u.event_id                                                                -- no previous BCOL filings
                    AND e.corp_num = co.corp_num
                    AND u.role_typ_cd = 'bcol')
  AND NOT EXISTS (SELECT 'x'
                  FROM "colin".corporation
                  WHERE admin_email = co.admin_email
                    AND corp_num <> co.corp_num)                                                               -- no other business using the same email
  AND TO_CHAR(co.recognition_dts, 'MMDD') = TO_CHAR(current_date, 'MMDD')                                      -- AR reminder on the anniversary date
  AND (
       -- Exclude companies founded in the current year, include those from previous year
       (EXTRACT(YEAR FROM co.recognition_dts) = EXTRACT(YEAR FROM current_date) - 1 AND co.last_ar_filed_dt IS NULL)
       -- Or include if last_ar_filed_dt is not NULL and was filed in the previous year
       OR (co.last_ar_filed_dt IS NOT NULL AND EXTRACT(YEAR FROM co.last_ar_filed_dt) = EXTRACT(YEAR FROM current_date) - 1)
      );

Running query in 'warehouse'

/opt/conda/lib/python3.11/site-packages/sql/connection/connection.py:867: JupySQLRollbackPerformed: Found invalid transaction. JupySQL executed a ROLLBACK operation.
  warnings.warn(

170 rows affected.

In [21]:
colin_df = colin_data.DataFrame()
colin_df

,corp_num,recognition_dts,last_ar_filed_year,admin_email,corp_nme,corp_class
0,1179777,2018-09-18 11:24:17,2023,melissaxchen@outlook.com,LUNAR RAIN JEWELLERY LTD.,BC
1,1179777,2018-09-18 11:24:17,2023,melissaxchen@outlook.com,LUNAR RAIN JEWELLERY LTD.,BC
2,1134394,2017-09-18 15:24:14,2023,spa.thaivancouver@gmail.com,HATTHA BY KT SALES AND SERVICES LIMITED,BC
3,1266211,2020-09-18 08:09:09,2023,heritagesignworks1@gmail.com,1266211 B.C. LTD.,BC
4,1014000,2014-09-18 15:51:18,2023,lovetoski78@gmail.com,ELKHORN ENTERPRISES LTD.,BC
...,...,...,...,...,...,...
165,0980805,2013-09-18 22:40:13,2023,immcanda2013@gmail.com,SOUTH OF FRASER CONSULTING LTD.,BC
166,0980805,2013-09-18 22:40:13,2023,immcanda2013@gmail.com,0980805 B.C. LTD.,BC
167,1089865,2016-09-18 13:31:29,2023,macs@lakesideenvironmental.com,RAYSUNSHINE SECURITY DARALUZ INC.,BC
168,1089865,2016-09-18 13:31:29,2023,macs@lakesideenvironmental.com,1089865 B.C. LTD.,BC
169,1266257,2020-09-18 11:53:16,2023,john_han@me.com,HOMEY PROFESSIONAL SERVICES LTD.,BC

In [24]:
# Print original columns to verify names
print("Original columns:", colin_df.columns.tolist())

# Rename columns (adjusted based on actual column names)
colin_df.rename(columns={
    'corp_num': 'identifier',
    'corp_nme': 'legal_name',  # Adjusted to match actual column name
    'recognition_dts': 'founding_date',
    'admin_email': 'email',
    'last_ar_filed_year': 'last_ar_reminder_year',
    'corp_class': 'legal_type'  # Use 'corp_class' as 'legal_type'
}, inplace=True)

# Print columns after renaming to confirm
print("Columns after renaming:", colin_df.columns.tolist())

# Ensure 'last_ar_reminder_year' is of string type
colin_df['last_ar_reminder_year'] = colin_df['last_ar_reminder_year'].astype(str)

# Format 'founding_date' as 'YYYY-MM-DD'
colin_df['founding_date'] = pd.to_datetime(colin_df['founding_date']).dt.strftime('%Y-%m-%d')

# Select the required columns
colin_df = colin_df[['identifier', 'legal_name', 'legal_type', 'founding_date', 'last_ar_reminder_year', 'email']]

# Escape single quotes in strings to prevent SQL syntax errors
def escape_quotes(s):
    return s.replace("'", "''") if isinstance(s, str) else s

colin_df['legal_name'] = colin_df['legal_name'].apply(escape_quotes)
colin_df['email'] = colin_df['email'].apply(escape_quotes)
colin_df['legal_type'] = colin_df['legal_type'].apply(escape_quotes)

# Generate the VALUES part of the INSERT statement
values = ",\n".join([
    f"('{row['identifier']}', '{row['legal_name']}', '{row['legal_type']}', '{row['founding_date']}', '{row['last_ar_reminder_year']}', '{row['email']}')"
    for _, row in colin_df.iterrows()
])

# Step 9: Complete the INSERT statement
insert_statement = f"""INSERT INTO "public"."business" (identifier, legal_name, legal_type, founding_date, last_ar_reminder_year, email)
VALUES 
{values};"""

# Print the INSERT statement
print(insert_statement)

Original columns: ['identifier', 'founding_date', 'last_ar_reminder_year', 'email', 'corp_nme', 'legal_type']
Columns after renaming: ['identifier', 'founding_date', 'last_ar_reminder_year', 'email', 'legal_name', 'legal_type']
INSERT INTO "public"."business" (identifier, legal_name, legal_type, founding_date, last_ar_reminder_year, email)
VALUES
('1179777', 'LUNAR RAIN JEWELLERY LTD.', 'BC', '2018-09-18', '2023', 'melissaxchen@outlook.com'),
('1179777', 'LUNAR RAIN JEWELLERY LTD.', 'BC', '2018-09-18', '2023', 'melissaxchen@outlook.com'),
('1134394', 'HATTHA BY KT SALES AND SERVICES LIMITED', 'BC', '2017-09-18', '2023', 'spa.thaivancouver@gmail.com'),
('1266211', '1266211 B.C. LTD.', 'BC', '2020-09-18', '2023', 'heritagesignworks1@gmail.com'),
('1014000', 'ELKHORN ENTERPRISES LTD.', 'BC', '2014-09-18', '2023', 'lovetoski78@gmail.com'),
('1134424', 'MEL YACHT SERVICES LTD.', 'BC', '2017-09-18', '2023', 'MELYACHTSERVICES@GMAIL.COM'),
('1439961', 'GREENLINK EXPLORATION CORP.', 'BC', '2023-09-18', 'None', 'greenlinkexploration@gmail.com'),
('1049481', 'GRACE YANG PERSONAL REAL ESTATE CORPORATION', 'BC', '2015-09-18', '2023', 'GYANG999@hotmail.com'),
('1179721', 'PROACTIVE ROAD SAFETY, INC.', 'BC', '2018-09-18', '2023', 'proactive.road.safety@gmail.com'),
('1266325', 'BLAY SCIENTIFIC CANADA LTD.', 'BC', '2020-09-18', '2023', 'jason.thomson@blayscientific.com'),
('1439773', 'TULUMO SERVICES LTD.', 'BC', '2023-09-18', 'None', 'tulumoservices@gmail.com'),
('1439773', 'ASTRON PAY FINANCE LTD.', 'BC', '2023-09-18', 'None', 'tulumoservices@gmail.com'),
('1179828', '1179828 B.C. LTD.', 'BC', '2018-09-18', '2023', 'riverroadcaferichmond@gmail.com'),
('1134360', '1134360 B.C. LTD.', 'BC', '2017-09-18', '2023', 'copter64@hotmail.com'),
('1439973', 'SKYE WATER VENTURES LTD.', 'BC', '2023-09-18', 'None', 'Macleod@uniserve.com'),
('1439783', 'AMAR ELECTRICAL LTD.', 'BC', '2023-09-18', 'None', 'surjitgir@gmail.com'),
('0333469', 'GUILDFORD PRINTERS INC.', 'BC', '1987-09-18', '2023', 'info@guildfordprinters.com'),
('0980713', 'TES ADVISORY INC.', 'BC', '2013-09-18', '2023', 'raina_rajinder@yahoo.com'),
('1049484', 'ALI VISANJI ENTERPRISES INC.', 'BC', '2015-09-18', '2023', 'alivisanji@gmail.com'),
('1134438', 'EUROWORK HOLDINGS LTD.', 'BC', '2017-09-18', '2023', 'Mckay9556@yahoo.ca'),
('1134410', 'WANMAN INVESTMENT CORPORATION', 'BC', '2017-09-18', '2023', 'christineypohl@gmail.com'),
('1439819', 'FOUDIMOV CONSULTING INC.', 'BC', '2023-09-18', 'None', 'antonalog@gmail.com'),
('1439965', 'DIRECT LUXURY TIMEPIECES LTD.', 'BC', '2023-09-18', 'None', 'weix455@gmail.com'),
('1439965', '1439965 B.C. LTD.', 'BC', '2023-09-18', 'None', 'weix455@gmail.com'),
('0802952', '0802952 B.C. LTD.', 'BC', '2007-09-18', '2023', 'pk.wong@telus.net'),
('0950516', 'ALICE RICHARD - COUNSELLING SERVICES LTD.', 'BC', '2012-09-18', '2023', 'afr@shaw.ca'),
('1089871', 'SUN NORTH AMERICAN ENTERPRISES LTD.', 'BC', '2016-09-18', '2023', 'jason.sun.ca@gmail.com'),
('0282717', 'KROGH HOLDINGS LTD.', 'BC', '1984-09-18', '2023', 'captexautomotive@shawbiz.ca'),
('0835328', 'SIWASH HOLDINGS LTD.', 'BC', '2008-09-18', '2023', 'sbennett@nmmedia.ca'),
('1439795', 'FAST & DEEP CLEANING LTD.', 'BC', '2023-09-18', 'None', 'kulgill1206@gmail.com'),
('0432537', 'RAINBOW DRYWALL LTD.', 'BC', '1992-09-18', '2023', 'sukhibahugun@gmail.com'),
('0654859', 'JIM MCDONALD ENGINEERING LTD.', 'BC', '2002-09-18', '2023', 'jim.mcdonald7846@gmail.com'),
('0654859', 'JIM MCDONALD ENGINEERING LTD.', 'BC', '2002-09-18', '2023', 'jim.mcdonald7846@gmail.com'),
('0654859', '0654859 B.C. LTD.', 'BC', '2002-09-18', '2023', 'jim.mcdonald7846@gmail.com'),
('1134426', 'C. A. SOANES ENTERPRISES INC.', 'BC', '2017-09-18', '2023', 'csoanes9@hotmail.com'),
('1439988', 'MAANDEGAR INTERIOR DESIGN INC.', 'BC', '2023-09-18', 'None', 'daneshgarzade.business2023@gmail.com'),
('0282709', 'BILL CRAWFORD LTD.', 'BC', '1984-09-18', '2023', 'chabart@shaw.ca'),
('1324865', 'SAI BI SOLUTIONS INC.', 'BC', '2021-09-18', '2023', 'arunpanda70@gmail.com'),
('1379276', 'ASCENDANCE CREATIVE INC.', 'BC', '2022-09-18', '2023', 'AscendanceCreativeMedia@gmail.com'),
('1439950', 'ELISEVEN GENERAL CONSTRUCTION LTD.', 'BC', '2023-09-18', 'None', 'carelizabethgp@gmail.com'),
('1439979', 'RED LINE SNOW REMOVAL LTD.', 'BC', '2023-09-18', 'None', 'redlinesnowremoval@gmail.com'),
('0633996', 'SOLO DRIVING SCHOOL LTD.', 'BC', '2001-09-18', '2023', 'bruskykh@gmail.com'),
('1439786', 'K35B.COM FAUCET CARTRIDGES INC.', 'BC', '2023-09-18', 'None', 'mike@emeff.com'),
('0980799', 'LEDGERLIBERTY SOLUTIONS INC.', 'BC', '2013-09-18', '2023', 'scomace@gmail.com'),
('0131463', 'CRANKSHAW HOLDINGS LTD.', 'BC', '1974-09-18', '2023', 'service@crankshawholdings.ca'),
('0412531', 'G.S. PLUMBING LTD.', 'BC', '1991-09-18', '2023', 'siderisfamily@gmail.com'),
('1223720', 'CREATIVE COLLECTIVE SALON LTD.', 'BC', '2019-09-18', '2023', 'Arasmussen_7@hotmail.com'),
('1013899', 'ROBERT BOYES LTD.', 'BC', '2014-09-18', '2023', 'robert_boyes@hotmail.com'),
('1324859', 'TOKO GOULD IMMIGRATION CONSULTING INC.', 'BC', '2021-09-18', '2023', 'tokogould@gmail.com'),
('1265489', 'INDUSTREND GLOBAL SUPPLY CHAIN CORP.', 'BC', '2020-09-18', '2023', 'industrend.global@gmail.com'),
('1179876', '1179876 B.C. LTD.', 'BC', '2018-09-18', '2023', 'jamshid_azerakhsh@live.com'),
('1439976', 'LUMINA LENS LTD.', 'BC', '2023-09-18', 'None', 'prabhjot.mann@yahoo.com'),
('0920557', 'SHARLENE SMITH CONSULTING LTD.', 'BC', '2011-09-18', '2023', 'sharlenesmith@me.com'),
('1013976', 'MAPLE STAR RECRUITMENT AND EMPLOYMENT AGENCY LTD.', 'BC', '2014-09-18', '2023', 'SAHAJ@INSIGNIACOLLEGE.COM'),
('1013976', 'MAPLESTAR RECRUITMENT & EMPLOYMENT AGENCY LTD.', 'BC', '2014-09-18', '2023', 'SAHAJ@INSIGNIACOLLEGE.COM'),
('0980705', 'JC FAMILY HOLDING INC.', 'BC', '2013-09-18', '2023', 'jackychung@hotmail.com'),
('0654873', 'THE AVENUE GALLERY INC.', 'BC', '2002-09-18', '2023', 'info@theavenuegallery.com'),
('0769143', '8 ONE STUDIO INC.', 'BC', '2006-09-18', '2023', 'will@luimoto.com'),
('1379274', 'ALUULA MARKETING INC.', 'BC', '2022-09-18', '2023', 'stacy@aluulamarketing.com'),
('1439785', 'AFSHAR HEALTH CORPORATION INC.', 'BC', '2023-09-18', 'None', 'aliafshar7373@gmail.com'),
('0634065', '634065 B.C. LTD.', 'BC', '2001-09-18', '2023', 'cscleasing@gmail.com'),
('1324881', 'HYPERSECU ENTERPRISES INC.', 'BC', '2021-09-18', '2023', 'jmli.gm@gmail.com'),
('1223794', 'CANMADE IMMIGRATION INC.', 'BC', '2019-09-18', '2023', 'wynnchuyuhao@gmail.com'),
('C1439820', '1439820 B.C. LTD.', 'BC', '2023-09-18', 'None', 'jason@98foodco.com'),
('0131451', 'PARTENAIR HOLDINGS LTD.', 'BC', '1974-09-18', '2023', 'dfredrickson@shaw.ca'),
('0654793', 'EXQUISITE TRUCKING LTD.', 'BC', '2002-09-18', '2023', 'EXQUISITETRUCK@GMAIL.COM'),
('0803006', 'WHITESHELL CAPITAL LTD.', 'BC', '2007-09-18', '2023', 'jeffclay@shaw.ca'),
('1223732', 'BRAR BROS. TIRE LTD.', 'BC', '2019-09-18', '2023', 'sbmoga22@gmail.com'),
('1049382', 'QZ DETAILING INC.', 'BC', '2015-09-18', '2023', 'lumei1999@yahoo.com'),
('1266361', '1266361 B.C. LTD.', 'BC', '2020-09-18', '2023', 'Maovu87@gmail.com'),
('1439972', 'MEXADA CONSTRUCTION LTD.', 'BC', '2023-09-18', 'None', 'stmiramontes@gmail.com'),
('0835340', 'THESHEHS ENTERPRISES LTD.', 'BC', '2008-09-18', '2023', 'simonsth@gmail.com'),
('1179887', 'MOONLITE FRAMING INC.', 'BC', '2018-09-18', '2023', 'RAVMOONLITE@GMAIL.COM'),
('1179887', 'MOONLITE FRAMING & CONTRACTING INC.', 'BC', '2018-09-18', '2023', 'RAVMOONLITE@GMAIL.COM'),
('1439787', 'ANY ROUTE TRANSPORT LTD.', 'BC', '2023-09-18', 'None', 'sandeepsinghdeol717@gmail.com'),
('1223688', 'HEART SISTERS PUBLISHING INC.', 'BC', '2019-09-18', '2023', 'heartsisterspublishing@gmail.com'),
('1134411', '1134411 B.C. LTD.', 'BC', '2017-09-18', '2023', 'mikemartins1980@gmail.com'),
('C0861622', 'SAUNDRY ENTERPRISES INC.', 'BC', '2009-09-18', '2023', 'psaundry@live.ca'),
('0634058', 'ANDERSON''S TECHNICAL SERVICES LTD.', 'BC', '2001-09-18', '2023', 'doug@andersons.ca'),
('0950530', '0950530 B.C. LTD.', 'BC', '2012-09-18', '2023', 'ddraga@protonmail.com'),
('0980661', 'TENAVO TECHNOLOGIES INC.', 'BC', '2013-09-18', '2023', 'wfang2002@gmail.com'),
('1266326', 'COLAB ADVANTAGE LTD.', 'BC', '2020-09-18', '2023', 'kristina.henriksson@colabadvantage.ca'),
('1439921', 'NATIONAL CARGO EXPRESS INC.', 'BC', '2023-09-18', 'None', 'accounting@nationalcargo.ca'),
('1439933', 'JOYFUL HOMES CORPORATION', 'BC', '2023-09-18', 'None', 'joyfulhomescorp@gmail.com'),
('1049398', 'TONGXINYUAN HEALTH CONSULTING INC.', 'BC', '2015-09-18', '2023', 'JLJ73528@HOTMAIL.COM'),
('1134335', 'NOBEL HOMES INC.', 'BC', '2017-09-18', '2023', 'afshin.enam@gmail.com'),
('1439962', 'R GILL CONSULTING INC.', 'BC', '2023-09-18', 'None', 'ROOPIGILL@GMAIL.COM'),
('1179881', 'MEENANAND TELECOM LTD.', 'BC', '2018-09-18', '2023', 'PAVANKUMAR7389@YAHOO.CA'),
('1179881', '1179881 B.C. LTD.', 'BC', '2018-09-18', '2023', 'PAVANKUMAR7389@YAHOO.CA'),
('1439960', 'TAXWATCH CANADA HOLDINGS LTD.', 'BC', '2023-09-18', 'None', 'tony@tmsl-cpa.ca'),
('1223727', 'EARLY DOORS CONSULTING LTD.', 'BC', '2019-09-18', '2023', 'dave@earlydoorsconsulting.com'),
('0769265', 'CLOVER AUTO SALES LTD.', 'BC', '2006-09-18', '2023', 'cloverautosales@gmail.com'),
('1013949', 'PRONA INVESTMENT LTD.', 'BC', '2014-09-18', '2023', 'lucykunlu@gmail.com'),
('1439955', 'SLICK BUILDS INC. INCORPORATED', 'BC', '2023-09-18', 'None', 'ralph1martinez@gmail.com'),
('1439919', 'GUTTER SUPPLY INC.', 'BC', '2023-09-18', 'None', 'srdenm@gmail.com'),
('1014026', 'NIFY TRADING LTD.', 'BC', '2014-09-18', '2023', 'nifytrading@gmail.com'),
('1324879', 'PEAK PHYSIOTHERAPY LTD.', 'BC', '2021-09-18', '2023', 'audreyrosept@gmail.com'),
('1439944', '1439944 B.C. LTD.', 'BC', '2023-09-18', 'None', 'chefgbt@gmail.com'),
('1439873', 'KARTAAR 99 RENOVATION LTD.', 'BC', '2023-09-18', 'None', 'contact@humbleaccountants.com'),
('0504393', 'WHITECLOUD CONTRACTING LTD.', 'BC', '1995-09-18', '2023', 'slbattensby@gmail.com'),
('0654893', '654893 BC LTD.', 'BC', '2002-09-18', '2023', 'kawikahooey@gmail.com'),
('1266274', 'CANADA ROYAL PAINTING LTD.', 'BC', '2020-09-18', '2023', 'parichehr.parsa@yahoo.com'),
('0216500', 'RANDOLPH FILMS INC.', 'BC', '1980-09-18', '2023', 'RFI1@MAC.com'),
('1379279', '1379279 B.C. LTD.', 'BC', '2022-09-18', '2023', 'issac_lin@hotmail.com'),
('1439969', 'SAHILL CONSULTING INC.', 'BC', '2023-09-18', 'None', 'ali_jassim@hotmail.com'),
('0704447', 'RNR LAB LTD.', 'BC', '2004-09-18', '2023', 'rizdmd@hotmail.com'),
('1013969', 'HERBLEX HEALTH CARE PRODUCTS LTD.', 'BC', '2014-09-18', '2023', 'gbai@capit.com'),
('1013969', 'REAN AUTOS LTD.', 'BC', '2014-09-18', '2023', 'gbai@capit.com'),
('1134326', 'CENTRUM ELECTRIC LTD.', 'BC', '2017-09-18', '2023', 'email@centrumelectric.ca'),
('1439817', '1439817 B.C. LTD.', 'BC', '2023-09-18', 'None', 'VHEMI@AOL.COM'),
('1439796', 'SUNBRIGHT ELECTRICAL LTD.', 'BC', '2023-09-18', 'None', 'singhnavi538@gmail.com'),
('0314895', 'TRUEMAN CONSULTING LTD.', 'BC', '1986-09-18', '2023', 'trueman9000@gmail.com'),
('0550443', '550443 B.C. LTD.', 'BC', '1997-09-18', '2023', 'toddcun@hotmail.com'),
('0980671', 'AAB TRANSPORT LIMITED', 'BC', '2013-09-18', '2023', 'tafsiriali@gmail.com'),
('0769132', 'THORNY BLEEDER RECORDS INC.', 'BC', '2006-09-18', '2023', 'artofdying@gmail.com'),
('0412577', 'TRIPKE BAKERY KONDITOREI & CAFE INC.', 'BC', '1991-09-18', '2023', 'tripkebakery@telus.net'),
('1179896', 'RELFWOOD CONTRACTING LTD.', 'BC', '2018-09-18', '2023', 'relfwoodcontracting@gmail.com'),
('1439850', '1439850 B.C. LTD.', 'BC', '2023-09-18', 'None', 'leftcoastfashionanddesign@gmail.com'),
('0802879', 'TFD PRODUCTIONS, INC.', 'BC', '2007-09-18', '2023', 'tommy@tfdpresents.ca'),
('1013950', 'J&J YAN UMESHIBA ENTERPRISE LTD.', 'BC', '2014-09-18', '2023', 'mei9bing@hotmail.com'),
('1324886', '1324886 B.C. LTD.', 'BC', '2021-09-18', '2023', 'tony_xuef@yahoo.ca'),
('1266270', 'GLOBAL LEGEND EDUCATION LTD.', 'BC', '2020-09-18', '2023', 'info@globallegend.ca'),
('1379264', '1379264 B.C. LTD.', 'BC', '2022-09-18', '2023', 'n8@247365.one'),
('1179894', 'BUZZMEDIA INC.', 'BC', '2018-09-18', '2023', 'sherif.omar@gmail.com'),
('1179901', 'QOOLTURA CREATIVE SERVICES INC.', 'BC', '2018-09-18', '2023', 'info@qooltura.com'),
('1266105', 'NOVA PRIME TECHNOLOGIES INC.', 'BC', '2020-09-18', '2023', 'charliemjxu@gmail.com'),
('0216466', 'MUSKEG MAINTENANCE LTD.', 'BC', '1980-09-18', '2023', 'libratoyz@gmail.com'),
('0950499', 'LATERO LABS INC.', 'BC', '2012-09-18', '2023', 'corp@laterolabs.com'),
('0950504', 'CANTOP IMMIGRATION CONSULTANT INC.', 'BC', '2012-09-18', '2023', 'cantopimmigration@hotmail.com'),
('0835284', 'PAPIRO TRADING LTD.', 'BC', '2008-09-18', '2023', 'ewachong@shaw.ca'),
('1324864', 'REBECCA A. MCCONCHIE LAW CORPORATION', 'BC', '2021-09-18', '2023', 'rebecca@mcconchie.ca'),
('0769171', 'COLORFUL TRADING INC.', 'BC', '2006-09-18', '2023', 'supermelcanada@hotmail.com'),
('0802981', 'ENAGIC CANADA CORPORATION', 'BC', '2007-09-18', '2023', 'accounting@enagic.ca'),
('1179897', 'LERAZO CONTRACTING INC.', 'BC', '2018-09-18', '2023', 'lerazobuild@gmail.com'),
('1266282', 'LEARNING AT WORK SOLUTIONS LTD.', 'BC', '2020-09-18', '2023', 'kristina.henriksson@learningatwork.ca'),
('0980716', 'JOBAN ENTERTAINMENT LTD.', 'BC', '2013-09-18', '2023', 'JASBIRGUNACHAURIA@GMAIL.COM'),
('1439747', 'J.I TILE AND FLOORING LTD.', 'BC', '2023-09-18', 'None', 'Jawidismaili4@gmail.com'),
('1266237', '1266237 B.C. LTD.', 'BC', '2020-09-18', '2023', 'jarussyt@gmail.com'),
('1266319', '1266319 B.C. LTD.', 'BC', '2020-09-18', '2023', 'cornercafeon56@gmail.com'),
('1439899', '1439899 B.C. LTD.', 'BC', '2023-09-18', 'None', 'daytonespanier@gmail.com'),
('1178877', 'JECOM TEK INC.', 'BC', '2018-09-18', '2023', 'erik_zhu@hotmail.com'),
('1439837', 'BUZZ PROMOTIONS LTD.', 'BC', '2023-09-18', 'None', 'buzzmarketingandevents@gmail.com'),
('0314921', 'LINDA M. O''ROURKE, C.A. INC.', 'BC', '1986-09-18', '2023', 'lindaor@shaw.ca'),
('0314921', 'LINDA M. O''ROURKE INC.', 'BC', '1986-09-18', '2023', 'lindaor@shaw.ca'),
('1223799', '1223799 B.C. LTD.', 'BC', '2019-09-18', '2023', 'lucyniu523@gmail.com'),
('1179799', 'SHPACE CANADA INC.', 'BC', '2018-09-18', '2023', 'brian.m.rae@gmail.com'),
('1089869', 'CADVICE BC LIMITED', 'BC', '2016-09-18', '2023', 'steve.williams@cadvicebc.ca'),
('1223660', '1223660 B.C. LTD.', 'BC', '2019-09-18', '2023', 'sales@dtielec.ca'),
('0835310', 'DR. COREY MING-LUM INC.', 'BC', '2008-09-18', '2023', 'cminglum@gmail.com'),
('0950475', 'VIVID HAIR BOUTIQUE INC.', 'BC', '2012-09-18', '2023', 'gilliat@shaw.ca'),
('1439896', 'MEDLEY''S ITALIAN AND GRILL CORP.', 'BC', '2023-09-18', 'None', 'gurvirkc21@yahoo.com'),
('1439915', 'PHO JADE VIETNAMESE RESTAURANT LTD.', 'BC', '2023-09-18', 'None', 'nguyenctieu@yahoo.ca'),
('0677256', 'H & W YUEN ENTERPRISES LTD.', 'BC', '2003-09-18', '2023', 'ray.yuen@live.com'),
('0614266', 'TANGIBLE TECHNOLOGIES INC.', 'BC', '2000-09-18', '2023', 'tangibletech@telus.net'),
('0654860', 'G. MATHEW HOLDINGS INC.', 'BC', '2002-09-18', '2023', 'gmathew@hotmail.ca'),
('1439841', 'VIA GENERAL CONTRACTORS LIMITED', 'BC', '2023-09-18', 'None', 'iqbaldhaliwal1313@gmail.com'),
('0835272', 'DR. M. WASSERFALL INC.', 'BC', '2008-09-18', '2023', 'tinuswasserfall@hotmail.com'),
('1439772', '1439772 B.C. LTD.', 'BC', '2023-09-18', 'None', 'richardlee604@hotmail.com'),
('1049504', 'TIFFIN INSPECTIONS LTD.', 'BC', '2015-09-18', '2023', 'davetiffin@me.com'),
('0614247', 'DR. JACQUELINE CHANG INC.', 'BC', '2000-09-18', '2023', 'jqlchang@hotmail.com'),
('0802883', 'HEIMARK INDUSTRIES LTD.', 'BC', '2007-09-18', '2023', 'kinos@telus.net'),
('1013994', 'MLK HAIR SALON LTD.', 'BC', '2014-09-18', '2023', 'mlkhairsalon@yahoo.com'),
('1439891', 'EXTENSIS TECHNOLOGY INC.', 'BC', '2023-09-18', 'None', 'vallen@extensistech.com'),
('1439891', '1439891 B.C. LTD.', 'BC', '2023-09-18', 'None', 'vallen@extensistech.com'),
('0980781', 'PAPERBACKNOTE STATIONERY LIMITED', 'BC', '2013-09-18', '2023', 'office@paperbacknote.com'),
('0980805', 'SOUTH OF FRASER CONSULTING LTD.', 'BC', '2013-09-18', '2023', 'immcanda2013@gmail.com'),
('0980805', '0980805 B.C. LTD.', 'BC', '2013-09-18', '2023', 'immcanda2013@gmail.com'),
('1089865', 'RAYSUNSHINE SECURITY DARALUZ INC.', 'BC', '2016-09-18', '2023', 'macs@lakesideenvironmental.com'),
('1089865', '1089865 B.C. LTD.', 'BC', '2016-09-18', '2023', 'macs@lakesideenvironmental.com'),
('1266257', 'HOMEY PROFESSIONAL SERVICES LTD.', 'BC', '2020-09-18', '2023', 'john_han@me.com');

In [ ]:
%sql business
colin_df.to_sql(name='business', con=business_pool, if_exists='append', index=False)

In [ ]:
colin_df

## Load from CSV

In [ ]:
colin_df = pd.read_csv('cohort_7.csv') 
colin_df

In [ ]:
# colin_df["identifier"] = colin_df["Jurisdiction"] + colin_df['corp_num'].apply('{:0>7}'.format)
# colin_df['nano_id'] = colin_df.apply(lambda row: generate(nanoid_charset), axis = 1)
# colin_df['tax_id'] = None
# colin_df['id'] = np.arange(1, colin_df.shape[0] + 1) + 7
#to_bar_df = pd.DataFrame()
#to_bar_df[['id','legal_name','legal_type','identifier','tax_id','nano_id']] = colin_df[['id','Name','Jurisdiction','identifier','tax_id','nano_id']]
#to_bar_df

In [ ]:
# colin_df['tax_id'] = None
# colin_df['ar_reminder_flag'] = None
# colin_df['state'] = None
# colin_df['op_state'] = None
# colin_df['corp_class'] = None
to_bar_df = colin_df

In [ ]:
to_bar_df.to_sql(name='b2', con=business_pool, if_exists='append', index=False)

1

In [ ]:
%%sql
INSERT INTO business (id, legal_name, legal_type, identifier, email, founding_date, last_ar_reminder_year, state)
SELECT 
    (SELECT COALESCE(MAX(id), 0) FROM business) + ROW_NUMBER() OVER (), 
    legal_name, 
    legal_type, 
    identifier, 
    email, 
    founding_date::date, 
    last_ar_reminder_year, 
    'ACT'
FROM b2;

In [ ]:
to_inv_email_df = pd.DataFrame()
to_inv_email_df[['id','recipients']] = colin_df[['id','email']]
to_inv_email_df['business_id'] = to_inv_email_df['id']
to_inv_email_df['token'] = colin_df.apply(lambda row: generate(nanoid_charset), axis = 1)
to_inv_email_df['message'] = colin_df.apply(lambda row: 'AR Invitation', axis = 1)
to_inv_email_df['status'] = colin_df.apply(lambda row: 'SENT', axis = 1)
to_inv_email_df

In [ ]:
%%sql business_data <<
select * from business where id = 9

## If using csv files then no need to run following two cells

In [ ]:
business_df = business_data.DataFrame()

In [ ]:
to_inv_email_df = pd.DataFrame()
to_inv_email_df[['id','recipients']] = business_df[['id','email']]
to_inv_email_df['business_id'] = to_inv_email_df['id']
to_inv_email_df['token'] = business_df.apply(lambda row: generate(nanoid_charset), axis = 1)
to_inv_email_df['message'] = business_df.apply(lambda row: 'AR Invitation', axis = 1)
to_inv_email_df['status'] = business_df.apply(lambda row: 'SENT', axis = 1)
to_inv_email_df

Writes into inv_ch6 table

In [ ]:
to_inv_email_df.to_sql(name='inv_ch6', con=business_pool, if_exists='append', index=False)

1

Insert into invitations table from inv_ch6 table

In [ ]:
%%sql
insert into invitations (id,recipients,message,sent_date,token,status,business_id)
(select nextval('invitations_id_seq'::regclass), recipients, message, now(), token, 'SENT', business_id from inv_ch6)

## Output to CSV

In [ ]:
%%sql business_data <<
select b.identifier, b.legal_name, b.legal_type, i.token, i.recipients from business b, invitations i where b.id=i.business_id and b.id >= 104

In [ ]:
business_data

In [ ]:
bdf = business_data.DataFrame()
# bdf = bdf[['legal_name','legal_type','identifier','nano_id']]
base_url='https://annualreport.business.bcregistry.gov.bc.ca/en-CA'
bdf['url'] = f'{base_url}?nanoid=' + bdf['token']
bdf

In [ ]:
import time
from datetime import datetime
from datetime import timezone

time_stamp = time.time()
now = datetime.utcfromtimestamp(time_stamp).replace(tzinfo=timezone.utc)
# local_now = now.astimezone(Pacific)
local_now = now.astimezone()
local_now.strftime("%Y.%m.%d.%H")

In [ ]:
with open('business-ar.'+local_now.strftime("%Y.%m.%d.%H")+'.csv', 'a') as f:      
    f.write('\n\n Business Annual Report\n')
    bdf.to_csv(f, sep=',', encoding='utf-8', index=False)

## Set Invitations

In [ ]:
%%sql
INSERT INTO invitations (id, recipients, message, sent_date, token, status, additional_message, business_id)
SELECT 
    nextval('invitations_id_seq'::regclass), 
    'test@example.com', 
    'Annual Report Due', 
    now(), 
    b2.nano_id,
    'SENT', 
    NULL, 
    b.id
FROM 
    business b
JOIN 
    b2 ON b.id = b2.id;